@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff") format("woff"),
    url("../fonts/roboto.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/robotobold.woff") format("woff"),
    url("../fonts/robotobold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/robotomedium.woff") format("woff"),
    url("../fonts/robotomedium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
body
{
    min-width: 1200px;
    margin: 0;
}
.container
{

box-sizing: border-box;
width: 1160px;
padding: 0 20px;
margin: 0 auto;
}

.header
{
    background: #eeeeee;
}
.header-top
{
    padding-top:  50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo
{
    font-size: 0;
    width: 160px;
    height: 70px;
    background: url(../img/nerds-logo.png) no-repeat;
}
.navigation-list
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 440px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation-item,
.cart
{
    text-decoration: none;
    color: #000;
    font-family: "RobotoMedium", sans-serif;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
}

.cart
{
    position: relative;
    padding-left: 25px;
}
.cart::before
{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../img/cart-icon.png") no-repeat;
    top: 0;
    left: 0;
}

.slider-title
{
    font-family: "RobotoMedium", sans-serif;
    font-size: 55px;
    line-height: 55px;
    width:525px;;
}
.slider-text
{
    font-family: "RobotoBold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    width: 34%;
    margin-bottom: 75px;
}
.slider
{
    position: relative;
}
.slides
{
    position: relative;
    height: 415px;
}
.slider-1
{
    width: 100%;
    height: 100%;
    background: url("../img/slide1.png") no-repeat right;
    top: 0;
    left: 0;
}
.slider-1,
.slider-2,
.slider-3
{
    position: absolute;
}
.slider-2
{
    width: 100%;
    height: 100%;
    background: url("../img/slide2.png") no-repeat right;
    top: 0;
    left: 0;
}
.slider-3
{
    width: 100%;
    height: 100%;
    background: url("../img/slide3.png") no-repeat right;
    top: 0;
    left: 0;
}
.slider-3 .slider-title
{
    width: 46%;
}
.slider-1,
.slider-2,
.slider-3
{
    display: none;
}

.slider input
{
    display: none;
}
.slider-control label
{
    width: 8px;
    height: 8px;
    background: white;
    border: 4px solid white;
    border-radius: 50%;
    display: inline-block;
    margin-right: 18px;
}
.slider-control
{
position: absolute;
top: 78%;
left: 49%;
z-index: 4;
}

#slider-1:checked~ .slider-control label[for="slider-1"],
#slider-2:checked~ .slider-control label[for="slider-2"],
#slider-3:checked~ .slider-control label[for="slider-3"]
{
    background: #c1c1c1;
}
#slider-1:checked~ .slides #slide1,
#slider-2:checked~ .slides #slide2,
#slider-3:checked~ .slides #slide3
{
    display: block;
}

.btn
{
    text-align: center;
    padding: 10px;
    font-family: "RobotoMedium", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    box-sizing: border-box;
}
.btn-header
{
    margin-top: 60px;
    background: #fb565a;
    width: 240px;
    padding: 10px 40px;
}

.block-order
{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid #eeeeee;
}
.order-item
{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}
.title-order
{
    font-family: "RobotoBold", sans-serif;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}
.description-order
{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    width: 90%;
    margin-bottom: 35px;
}
.btn-red
{

    background-color: #fb565a;
    width: 160px;
    padding: 10px 30px;
}
.btn-green
{
    background-color: #00ca74;
    width: 160px;
    padding: 10px 30px;
}
.btn-yellow
{
    background-color: #efc84a;
    width: 160px;
    padding: 10px 30px;
}

.about-us-block
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
}
.about-us
{
    width: 59%;
}
.title
{
    font-family: "Roboto", sans-serif;
    font-size: 45px;
    line-height: 45px;
}
.about-us-description
{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.about-us-title
{
    font-family: "RobotoBold", sans-serif;
    font-size: 16px;
}
.develops-list
{
    margin: 0;
    padding: 0;
}
.develops-item
{
    list-style: none;
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
}
.develops-item::before
{
    content: "";
    width: 25px;
    height: 2px;
    position: absolute;
    left: 0;
    top: 7px;
    background-color: red;
}
.parametres
{
    margin: 0;
    margin-top: 40px;
    padding: 0;
    display: flex;
}
.parametres-item
{

    list-style: none;
    width: 110px;
    margin-right: 20px;
}
.parametres-top
{
    font-family: "RobotoBold" sans-serif;
    font-size: 45px;
}
.parametres-bottom
{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.features-block
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
}
.features-block img
{
    align-items: center;
}
sup
{
     top: -0.3em;
}

.block-client
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #eeeeee;
    border-top: 2px solid #eeeeee;
    height: 180px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.client-list
{
    font-size: 0;
    width: 280px;
    opacity: .2;
}
.html
{
    background: url(../img/logo-1.png) no-repeat center;
    height: 100%;
    filter: grayscale(100%);
}
.bd
{
    background: url(../img/logo-2.png) no-repeat center;
    height: 100%;
    filter: grayscale(100%);
}
.pink
{
    background: url(../img/logo-3.png) no-repeat center;
    height: 100%;
    filter: grayscale(100%);
}
.mishka
{
    background: url(../img/logo-4.png) no-repeat center;
    height: 100%;
}
.block-client a:hover
{
    opacity: 1;
}
.maps
{
    background: url("../img/maps.png") no-repeat;
    background-size: 100%;
    padding: 54px;

}
.maps-form
{
    max-width: 320px;
    background: #fff;
    box-sizing: border-box;
    padding: 46px;
    display: flex;
    flex-direction: column;
}
.maps-form .title
{
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
}
.phone
{
    font-family: "Roboto", sans-serif;
    color: #666666;
    font-size:16px;
    line-height: 18px;
    margin-bottom: 36px;

}
.maps-form .btn-red
{
    width: 100%;
    margin-top: auto;
}
.checkpoint
{
    position: relative;
}
.point
{
    position: absolute;
    background: url("../img/map-marker.png") no-repeat;
    width: 200px;
    height: 200px;
    top: -223px;
    right: 197px;
}
.footer
{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
}
.social-block
{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-wrap: wrap;
}


.social-list
{
    width: 260px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-size: 0;
    justify-content: space-between;
    margin-right: 140px;
}
.social-list li
{
    list-style: none;
    width: 80px;
    height: 80px;
    background: #eee;
    border-radius: 50%;
    display: inline-block;
}
.social-item
{
    width: 80px;
    height: 80px;

    border-radius: 50%;
    display: inline-block;
}

.social-item:hover
{
    background-color: #e74246;
}


.vk
{
    background-image: url("../img/vk.png");
    background-repeat: no-repeat;
    background-position: center;

}
.fb
{
    background-image: url("../img/fb.png");
    background-repeat: no-repeat;
    background-position: center;
}
.inst
{
    background-image: url("../img/insta.png");
    background-repeat: no-repeat;
    background-position: center;
}
.promo
{
    font-family: "RobotoBold",sans-serif;
    font-size: 36px;
    line-height: 36px;
}
.promo-description
{
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}
